#root {
  max-width: 100%; /* Set width to 100% for flexibility */
  margin: 0 auto; /* Center the container */
  padding: 0rem; /* Reduce padding for better spacing */
  text-align: left; /* Align text to the left */
}

/* Optional: If you want to add a more responsive logo */
.logo {
  height: 4em; /* Adjust logo size */
  padding: 1rem;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
